@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900");

body, div {
  font-family: 'Roboto' !important;
 }

 * {
  font-family: 'Roboto' !important;
 }



.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.77) !important;

  z-index: 10 !important;


  display: flex;
  align-items: center;
  justify-content: center;
  
}