.Feed {
    // margin-left: 25%;
    position: relative;
    transition: all 1s forwards;
    background-color: white;
    padding: 0 60px;
    &[target=open] {
        animation: insideFK 1s forwards;
    }

    &[target=close] {        
        animation: outsideFK 1s forwards;
    }


    &-show {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        height: calc(100vh - 60px);

        background: #FFFFFF;
        box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
        border: solid 1px rgba(0,0,0,0.25);

        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        background-size: 20px;
    }
    &-top {
        display: flex;
        flex-direction: column;

        border-bottom: 0.75px solid #1F1F1F;
        padding: 15px;

        &-title {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: normal;

            color: #2F2C6B;
        }

        &-search {     
            padding: 8px 15px;
            background: #E5E5E5;
            border-radius: 16px;
            border: none;
            margin-bottom: 50px;
        }
    }
    

    &-container {

        &-post {
            margin-top: 50px;
            padding: 0 20px;
            &-item {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                
                &-avatar {
                    height: 47px;
                    width: 47px;
                    border-radius: 50%;
                    margin-right: 8px;

                    background-size: contain;
                    object-fit: contain;
                }
    
                &-name {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: normal;

                    color: #1F1F1F;
                }
            }
    
            &-content {
                background: #F2F2F2;
                border-radius: 8px;
                padding: 20px;
                &-title {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: normal;
                    
                    color: #2F2C6B;
                    margin-bottom: 14px;
                }

                &-description {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: normal;

                    color: #2F2C6B
                }

                
            }
            &-line {
                margin-top: 10px;
                width: 100%;                    
                border-top: solid 5px #f2f2f2;

                &-like {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: normal;
                    text-align: right;
                    
                    color: #1F1F1F;
                }
            }

        }
    }
}

@media (min-height: 600px) {
    .Feed {
        margin-left: 25%;
    }
}



@keyframes outsideFK {
    0% {        
        flex: 0 0 calc(75% - 350px);
        max-width: 0 0 calc(75% - 350px);
    }

    100% { 
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@keyframes insideFK {
    0% {
        flex: 0 0 75%;
        max-width: 75%;
    }

    100% { 
        flex: 0 0 calc(75% - 350px);
        max-width: 0 0 calc(75% - 350px);
    }
}