.HeaderMenu {
    padding: 15px;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #2F2C6B;
    display: flex;
    justify-content: center;
    align-items: center;
    &-logo {
        height: 35px;
        width: inherit;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: contain;
        object-fit: contain;
    }
}