.PublishProject {
  border: 1px solid #cccccc !important;
  background: white !important;
  overflow: auto !important;
  border-radius: 4px !important;
  outline: none !important;
  padding: 20px;
  width: 100vh;
  height: 100vh;
}

.PublishProject-container {
  display: flex;
  align-content: flex-end;
}

.PublishProject-container-left {
  display: flex;
  flex-direction: column;
}

.PublishProject-container-left-title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: normal;
  color: #000000;
}

.PublishProject-container-left-input {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: normal;
  color: #000000;
  border: none;
  border-bottom: 1px solid #44AD9E;
}

.PublishProject-container-left-description {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  color: #1F1F1F;
}

.PublishProject-container-left-profile {
  display: flex;
  justify-content: center;
}

.PublishProject-container-left-profile-avatar {
  width: 80px;
  height: 80px;
}

.PublishProject-container-left-profile-name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #2F2C6B;
}

.PublishProject-container-left-profile-cargo {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: normal;
  color: #2F2C6B;
}

.PublishProject-container-right {
  display: flex;
  flex-direction: column;
}

.PublishProject-container-right-top {
  display: flex;
  flex-direction: column;
}

.PublishProject-container-right-top-input {
  border: none;
  border-bottom: 1px solid #44AD9E;
}
