.PublishProject {
    border: 1px solid rgb(204, 204, 204) !important;
    background: rgb(255, 255, 255) !important;
    overflow: auto !important;
    border-radius: 4px !important;
    outline: none !important;
    padding: 20px;
    
    width: 100vh;
    height: 100vh;
    &-container {
        display: flex;
        align-content: flex-end;
        &-left {
            display: flex;
            flex-direction: column;

            &-title {
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: normal;

                color: #000000;
            }

            &-input {
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: normal;

                color: #000000;
                border: none;
                border-bottom: 1px solid #44AD9E;
            }

            &-description {
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: normal;
                text-align: center;

                color: #1F1F1F;
            }

            &-profile {
                display: flex;
                justify-content: center;
                &-avatar {
                    width: 80px;
                    height: 80px;
                }   
                
                &-name {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: normal;

                    color: #2F2C6B;
                }

                &-cargo {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: normal;

                    color: #2F2C6B;
                }
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
            &-top {
                display: flex;
                flex-direction: column;
    
                &-input {      
                    border: none;              
                    border-bottom: 1px solid #44AD9E;
                }
                
            }
    
            &-center {
    
                &-description {

                }

                &-subtitle {

                }

                &-Checkboxs {

                    .myCheckbox {

                    }
                }
    
            }

            &-bottom {


                &-tags{

                    &-title {


                    }

                    &-list {

                        &-item {

                        }
                    }
                }

                &-buttons {

                    &-left {

                    }

                    &-right {

                    }

                }
            }
        }


    }
}

