.RightMenu {    
    background: transparent;
    min-height: calc(100vh - 60px);
    padding: 0 !important;
    position: fixed;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 345px !important;

    &[target=open] {
        animation: inFK 1s forwards;
    }

    &[target=close] {        
        animation: outFK 1s forwards;
    }

    &-wallet {        
        width: calc(100% - 30px);
        height: calc(100vh - 90px);
        margin: 15px;
        padding: 15px;

        background: #C4C4C4;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        box-shadow: #525252 0px 1px 10px 0px;

        &-back {
            position: absolute;
            top: 0;
            left: -27px;
            display: flex;
            align-items: center;
            height: 100%;

            position: absolute;

            background: #FFFFFF;
            box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
            border: solid 1px rgba(0,0,0,0.25);

            background-repeat: no-repeat;
            background-position: center;
            width: 30px;
            background-size: 20px;
        }

        &-title {
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: normal;

            color: #2F2C6B;
        }

        &-money {

            &-real {
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: normal;
    
                color: #1F1F1F;
            }
            &-value {
                font-style: normal;
                font-weight: 500;
                font-size: 50px;
                line-height: normal;

                color: #44AD9E;
            }
        }


        &-subtitle {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: normal;
            text-align: center;

            color: #333333;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        &-pay {
            margin-top: 40px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: normal;

            color: #2F2C6B;
        }
        
        &-peoples {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            &-people {
                background: #44AD9E;
                width: 100%;
                height: fit-content;
                padding: 15px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                &-photo {
                    margin-right: 15px;
                    width: 47px;
                    height: 47px;
                    background: red;
                    border-radius: 50%;
                    object-fit: contain;
                    background-size: contain;    
                }

                &-name {       
                    font-style: normal;
                    font-weight: 300px;
                    font-size: 16px;
                    line-height: normal;

                    color: #FFFFFF;
                }
            }
        }
    }

}


@keyframes outFK {
    0% {
        right: 0;
    }

    100% { 
        right: -25vw
    }
}

@keyframes inFK {
    0% {
        right: -25vw
    }

    100% { 
        right: 0;
    }
}