@keyframes daKF {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes ddKF {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.DiagonalAppear {
  height: auto !important;
  opacity: 0;
  transform-origin: top right;
  animation: daKF 0.3s forwards;
  background: white;
  box-shadow: #525252 0px 1px 10px 0px;
}

.DiagonalDisappear {
  opacity: 1;
  transform-origin: top right;
  animation: ddKF 0.25s forwards;
  background: white;
  box-shadow: #525252 0px 1px 10px 0px;
}
