.LeftMenu {
    background: #2F2C6B;
    min-height: calc(100vh - 60px);
    width: 25%;
    // position: fixed;
    // top: 60px;
    // left: 0;
    padding: 0 15px;

    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;

    &-image {
        
    }

    &-top {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-profile {

            &-item {
                display: flex;
                &-avatar {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    margin-right: 20px;
                    background-size: contain;
                    object-fit: contain;
                }

                
                &-items {
                    &-name {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: normal;
                        
                        color: #FFFFFF;
                    }

                    &-cargo {                        
                        font-style: normal;
                        font-weight: normal;
                        font-size: 22px;
                        line-height: normal;

                        color: #FFFFFF;
                    }

                }

                &-data {


                    &-email {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: normal;

                        color: #FFFFFF
                    }

                    &-city {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: normal;
                        
                        color: #FFFFFF;
                    }
                }
            }

        }
        &-description {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: normal;
            color: white;
        }

        &-quads {
            display: flex;
            align-self: flex-start;
            margin-top: 20px;
            margin-bottom: 60px;
            &-quad {
                margin-right: 12px;
                width: 33px;
                height: 33px;
                background: #C4C4C4;
                border-radius: 4px;

            }
        }
    }

    &-container {

        &-title {            
            font-family: 'roboto-medium' !important;            
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: normal;
            color: #44AD9E;
        }

        &-items {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            color: #2F2C6B;

            &-item, &-add {

                margin-bottom: 20px;
                height: fit-content;
                padding: 10px;
                width: 100%;
                background: #FFFFFF;
                box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.05);
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: left;
            }

            &-add {
                color: white;
                background: #2F2C6B;
                border: 0.5px solid #000000;                
                border-radius: 8px;
                cursor: pointer;
                justify-content: center;
            }
        }

    }
    &-bottom {            
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: normal s;
        text-align: center;

        color: #F2F2F2;

        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 15px;
    }
}


@media (min-height: 600px) {
    .LeftMenu {
        position: fixed;
        top: 60px;
        left: 0;
    }
}