<div style="height: 100vh; width: 100vw;display: flex;
    align-items: center;
    justify-content: center;">
  <div style=" display: flex; align-items: center; justify-content: center; flex-direction: column; background-color: #f2f2f2; height: fit-content;
    width: fit-content;
    padding: 50px 50px;
    border-radius: 8px;">
    <h2 style="color: #2F2C6B;">ARETA</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div style="width: 350px;">
      
        <div class="field" style="margin-top: 45px;">
          <%=  f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", :style =>"padding:8px 15px;  border-radius: 4px; border: none; width: 100%;" %>
        </div>

        <div class="field" style="margin: 15px 0;">        
          <%= f.password_field :password, placeholder: "Senha", autocomplete: "current-password", :style =>"padding:8px 15px; border-radius: 4px; border: none; width: 100%;" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, :style=>"font-size: 14px"%>
          </div>
        <% end %>

        <div class="actions" style="display: flex;
      justify-content: center;">
          <%= f.submit "Entrar", :style => "border-radius: 4px;
      border: none;
      width: 100%; background-color: #2F2C6B; color: white; margin: 15px 0;" %>
        </div>
      <% end %>
      </div>

    <%= render "devise/shared/links" %>
  </div>
</div

